<!-- *ngFor se usa para aplicar función For dentro de estructura HTML
     El elemento que se quiere repetir es quien debe tener dentro de su tag la función *ngFor
     Sintaxis: <tag *ngFor="let iteradorVariable of arrayInComponent; index as indexVariable ">

-->
<h1>*ngFor</h1>
<input type="text" required minlength="5" maxlength="30" #nameInputNgIf="ngModel" [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length == 0">No hay nombres en la lista</li>
  <li *ngFor="let name of names; index as i">
    {{ i+1 }} - {{ name }} - {{ emojis[i] }}
    <button (click)="deleteName(i)"> Delete </button>
  </li>
</ul>
<div *ngIf="names.length > 0">
  <input type="number" required min="1" [max]="names.length" #deleteNameInput="ngModel" [(ngModel)]="deleteNameIndex">
  <button *ngIf="deleteNameInput.valid" (click)="deleteName(deleteNameIndex-1)">DeleteName</button>
</div>




<!-- *ngIf se usa para validar si una condición se cumple y así ejecutar algo
     Sintaxis : <tag *ngIf="condition; else elseBlockTag"> content </tag>
     en caso de usar un else, se define dentro de <ng-template #elseBlockTag> content </...>
-->
<hr>
<h1>*ngIf</h1>
<input type="text" required minlength="5" maxlength="30" #nameInputNgIf="ngModel" [(ngModel)]="person.name">
<input type="number" max="25" min="18" required #ageInput="ngModel" [(ngModel)]="person.age">
<p *ngIf="nameInputNgIf.valid">Nombre valido</p>
<p *ngIf="!nameInputNgIf.valid">Nombre inválido</p>
<p *ngIf="person.name === 'CaruBardd'">Bienvenido, CaruBardd</p>
<p *ngIf="person.name === 'Diego' && person.age == 22; else elseBlock">Bienvenido, Diego</p>

<ng-template #elseBlock>
  <p>Usted no es permitido</p>
</ng-template>


<!-- NGModel realiza un seguimiento del valor y el estado de validación de un control de formulario
     individual debido a las propiedades que hereda de
     FormControl( https://angular.io/api/forms/FormControl ).
     Documentación:
     - Angular Forms https://angular.io/api/forms/NgModel
-->
<hr>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"> <!-- validación "required", reference "#nameInput='ngModel'"-->
<input type="number" max="25" min="18" required #ageInput="ngModel" [(ngModel)]="person.age">
<h4>Validaciones</h4>
<p> Nombre (campo requerido): {{ nameInput.valid }}</p> <!-- Verifica si las validaciones del input se cumplen-->
<p> Edad   (campo requerido, 18-25): {{ ageInput.valid }}</p>



<!-- Para llamar a métodos en el componente ts de utiliza un evento y la función
     Sintaxis (event)="function"
     Para capturar y enviar un evento como parámetro se utiliza $event
     Eventos : https://developer.mozilla.org/en-US/docs/Web/Events
-->
<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="ageIncrease()" [disabled]="btnDisabled">( + )</button>
<button (click)="ageDecrease()" [disabled]="btnDisabled">( - )</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<h2>Bienvenido, {{person.name}}</h2>
<input type="text" [value]="person.name" (keyup)="changeName($event)">


<!-- Para valores NO string se recomienda uso de Property Binding
     También se recomienda usar solamente Property Binding para configuraciónd de propiedades
-->

<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="300" [src]="person.avatar">

<!-- Para valores tipo String se recomienda uso de String interpolation -->

<hr>
<h1>Hola mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }} años</h3>
